*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Sanchez', serif;
    font-size: 12px;
    background: #040E27;
    color: #fff;
    margin: 0 20px;
}
.container {
    max-width: 768px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
    margin-bottom: 25px;
}
.quote footer {
    font-size: 0.6em;
    font-weight: 700;
    color: #d3d3cf;
    text-align: right;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    opacity: 0;
    font-size: 20px;
}
.show{
    opacity: 1;
}

.quote {
    position: relative;
    font-size: 20px;
    line-height: 1.7em;
    word-break: break-word;
}

.quote:after {
    content: '\201D';
    position: absolute;
    top: 0.28em;
    right: 0;
    font-size: 6em;
    font-style: italic;
    color: #e7e6e4;
    z-index: -1;
}
